/* - Mobile: 375px
- Desktop: 1200px */

.bgContainer {
  max-width: 375px;
  /* min-height: 100vh; */
  margin: 16px auto;
  padding: 16px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-image: url(../../public/images/pattern-curve.svg);
  background-size: 75%;
  background-position: left bottom;
  background-repeat: no-repeat;
  border: 1px solid var(--text-profession);
  box-shadow: 2px 3px 5px var(--text-profession);
}

.textContainer {
  max-width: 260px;
  min-height: 260px;
  text-align: center;
  background-image: url(../../public/images/pattern-quotes.svg);
  background-size: 15%;
  background-position: center 0;
  background-repeat: no-repeat;
  font-size: 16px;
}

.textContainer p {
  color: var(--text-testimonials);
  text-indent: 12px;
  padding-top: 16px;
}
.textContainer h3 {
  color: var(--text-testimonials);
  font-weight: var(--fw-bold);
  padding-top: 16px;
}

.textContainer h4 {
  color: var(--text-profession);
  font-weight: var(--fw-medium);
  padding-top: 4px;
}

.imgContainer {
  min-width: 330px;
  background-image: url(../../public/images/pattern-bg.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.imgName {
  position: relative;
  border-radius: 10px;
  max-width: 260px;
  margin: 26px auto 0 auto;
}

.btns {
  position: relative;
  left: 100px;
  bottom: 30px;
  background-color: var(--bg-button);
  border: var(--bg-button);
  box-shadow: 0 0 10px var(--text-profession);
  border-radius: 40px;
  padding: 20px 18px;
  height: 60px;
  width: 120px;
  display: flex;
  gap: 60px;
}

.btns:hover {
  border: 1px solid var(--text-profession);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.5);
}

.imgContainer button {
  cursor: pointer;
  border: var(--bg-button);
  background-color: var(--bg-button);
}

@media (min-width: 1200px) {
  .bgContainer {
    max-width: 1200px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    background-size: 40%;
  }
  .textContainer {
    font-size: 24px;
    max-width: 480px;
    text-align: left;
  }

  .imgContainer {
    min-width: 450px;
  }
  .imgName {
    max-width: 360px;
    margin-top: 33px;
  }
}
